.menu-item {
    min-width: 30%;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    border: 1px solid #000;
    margin: 0 7.5px 15px;

    &:hover {
      cursor: pointer;

      & .background-image{
        transform: scale(1.1);
        transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      }

      & .content{
        opacity: 0.9;
      }
    }

    &.large{
      height: 380px;
    }
    &:first-child {
      margin-right: 7.5px;
    }
    &:last-child {
      margin-left: 7.5px;
    }
    .background-image{
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }
    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border: 1px solid #000;
      height: 90px;
      padding: 0 25px;
      background: rgba(255,255,255,0.8);
      position: absolute;
  
        .title {
        font-weight: bold;
        margin-bottom: 6px;
        font-size: 22px;
        color: #4a4a4a;
        }
        .subcribe {
        font-weight: lighter;
        font-size: 16px;
        }
    }
  }
  